@model CreateDiscountDto
@{
    ViewData["Title"] = "CreateDiscount";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Kampanya Ekleme Formu</h4>
		<div class="row">
			<div class="col-md-12">
				<form method="post">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Kampanya Ekle</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="Description">Kampanya Açıklaması Giriniz</label>
								<input type="text" class="form-control" id="Description" asp-for="Description" placeholder="Açıklama Girin">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="Title">Kampanya Başlığı Giriniz</label>
								<input type="text" class="form-control" id="Title" asp-for="Title" placeholder="Başlık Girin">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="ImageUrl">Kampanya Url Giriniz</label>
								<input type="text" class="form-control" id="ImageUrl" asp-for="ImageUrl" placeholder="Url Girin">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="Amount">Kampanya Miktarı Giriniz</label>
								<input type="text" class="form-control" id="Amount" asp-for="Amount" placeholder="Miktar Girin">
							</div>
						</div>
						<div class="card-action">
							<button class="btn btn-primary">Kampanya Ekle</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>