
@{
    ViewData["Title"] = "Index";
}


<h1>Index</h1>

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="alert alert-success">
            Bağlantının Durumu: <strong id="connstatus"></strong>
        </div>
        <div class="alert alert-success">
            Kategori Sayısı: <strong id="categoryCount"></strong>
        </div>
    </div>
</div>

@section Scripts {

    <script src="~/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script type="text/javascript">
        $(document).ready(() => {
            var connection = new signalR.HubConnectionBuilder()
                .withUrl("https://localhost:44356/signalRHub")
                .build();

            $("#connstatus").text(connection.state);

            connection.start().then(() => {
                $("#connstatus").text(connection.state);
                connection.invoke("SendCategoryCount")
                connection.on("ReceiveCategoryCount",(value)=>{
                    $("#categoryCount").text(value);
                })
                console.log(connection.state);
            }).catch((err) => {
                console.error(err);
            });
        });
    </script>
}
